html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body{
    background-color: #F7F7F7;
    font-family: "outfit";
}

main {
    flex: 1;
    padding: 20px;
}

.index_row {
    margin-left: 5%;
    margin-right: 5%;

}
#foodimage {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 4%;
    width: 90%;
    height: 600px;
    background-image: url("images/foodsection.jpg");
    border-radius: 20px;
}

.top_row_logo{
    width: auto;
    height: 50px;
    text-align: center;
}

.container{
    background-color: var(--container-bg-color);
    margin: 1%;
    width: 431px;
    height: 600px;
    float: left;
    border-radius: 20px;
}

.container:hover{
    width: 440px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    height: 50px;
    background-color: #fdfdfd;
    padding: 0;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #9ad59f;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
header .left-section nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header .left-section nav ul li {
    align-content: center;
    margin-right: 30px;
}
#header-logo-li{
    margin-right: 18px;
}
#header-logo{
    margin-top: 3px;
    height: 30px;
    width: auto;
}
header .left-section nav ul li a {
    font-size: 23px;
    color: #9ad59f;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}
header .left-section nav ul li a:hover {
    text-underline-position: under;
    text-decoration: underline;
}
header .right-section {
    margin-right: 12px;
}
#login-button {
    display: inline-block;
    width: 100px;
    padding: 3px 15px;
    background-color: #9AD59F;
    color: white;
    font-family: "Outfit", sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 23px;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}
#login-button:hover {
    background-color: #7cb481;
}
/* Header Styling End */

/* Footer Styling */
footer {
    background-color: #9ad59f;
    color: white;
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 200px;
}
footer .left-section {
    position: relative;
    bottom: 25px;
    padding-left: 15px;
    padding-bottom: 5px;
}
footer .left-section p {
    font-family: "Outfit", sans-serif;
    text-align: left;
    font-size: 20px;
}
footer .left-section ul {
    list-style-type: none;
}
footer .right-section {
    position: relative;
    bottom: 12px;
}

footer .right-section ul {
    padding: 2px;
    margin-bottom: 5px;
    list-style-type: none;
}

footer .right-section li a {
    font-family: "Outfit", sans-serif;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    padding-top: 1px;
    color: white;
}
#social-media-links{
    padding-top: 1px;
}

footer .right-section li a:hover {
    text-decoration: underline;
}

footer .right-section li p {
    font-family: "Outfit", sans-serif;
    text-align: left;
    font-size: 20px;
}
#contact {
    text-decoration: underline;
    text-underline-position: under;
    font-size: 24px;
}

#facebook-logo {
    height: 30px;
    width: auto;
    position: relative;
    top: 8px;
    left: 3px;
}

#instagram-logo {
    height: 30px;
    width: auto;
    position: relative;
    top: 9px;
    left: 1px;
}

/* Footer Styling End */