<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta charset="UTF-8">
    <title>Virksomhed</title>
    <link rel="stylesheet" href="webdesign.css">
</head>
<body>
<!-- Header -->
<header>
    <div class="left-section">
        <nav>
            <ul>
                <li id="header-logo-li">
                    <a href="/">
                        <img src="/images/logo-Madspild.png" alt="Danmark Mod Madspild's Logo" id="header-logo">
                    </a>
                </li>
                <li><a href="/consumer">Borgere</a></li>
                <li><a href="/company">Virksomhed</a></li>
                <li><a href="/org">Organisationer</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </div>
    <div class="right-section">
        <a href="/createLogin" id="login-button">Login</a>
    </div>
</header>
<!-- Header End -->
<!-- Main content -->
<main>
    <div style="margin-left: 4.5%; margin-right: 5%">
    <h1 style="font-size: 50px; margin-top: 2%; padding-bottom: 0%; ">
    Virksomheder mod madspild
    </h1>
    </div>
    <div class="split_line"></div>
    <div class="index_row">
        <h2 style="font-size: 25px; font-weight: normal; ; padding-left: 0.1%; display: flex; justify-content: left; padding-bottom: 0%; padding-top: 1%  ">
            Danmark mod madspild giver her en række tips til hvad i som virksomhed kan gøre for at deltage i kampen mod madspild.
        </h2>
    </div>
    <div id="company_cover_photo"></div>
    <div class="split_line"></div>
    <div style="margin-left: 4.5%; margin-right: 5%; margin-bottom: 1%; margin-top: 1.3%">
        <div class="split_section">
            <div>
                <h3 style="font-size: 36px; ; text-decoration: underline; padding-left: 1.5%;   ">
                    Få ekspert-analyse af jeres madforbrug
                </h3>
                <p class="bread-text">
                    Mange virksomheder kan drage fordel af at få deres madforbrug og madspild undersøgt af en ekspert. <br>
                    Danmark mod madspild tilbyder at sende en madforbrugs ekspert ud og undersøge jeres virksomheds madforbrug og
                    madspild samt give forslag til hvordan i kan reducere jeres madspild og optimere jeres madforbrug. <br> <br>
                    Vi yder denne service gratis - kontakt os på vores mail så vi kan aftale nærmere.
                </p>
            </div>
            <figure class="company_page_img_figure">
                <img class="company_page_photos" src="/images/CompanyReview.jpeg" alt="billede af institution burde være her">
                <figcaption> Danmark mod madspild tilbyder gratis besøg af madspilds-ekspert </figcaption>
            </figure>
        </div>
    </div>
    <div class="split_line"></div>
    <div style="margin-left: 4.5%; margin-right: 5%; margin-bottom: 1%; margin-top: 1.3%">
        <div class="split_section">
            <div>
            <h3 style="font-size: 36px; ; text-decoration: underline; padding-left: 1.5%;  ">
                Donér til instutioner
            </h3>
            <p class="bread-text">
                Har jeres virksomhed regelmæssigt mad tilovers? <br> <br>
                En lang række institutioner tager imod overskydende mad over hele landet og hos Danmark mod madspild kan i
                oprette en leverings aftale med en af vores mange leverings-samarbejdspartnere
                som kan komme og hente maden regelmæssigt efter aftale og gratis levere den til en af disse institutioner. <br>
                <br>
                Listen af disse instutioner findes <a href="/pseudoLink.com">her.</a> <br>
                Listen af vores gratis leverings muligheder findes <a href="/pseudoLink.com">her.</a>
            </p>
            </div>
            <figure class="company_page_img_figure">
            <img class="company_page_photos" src="/images/danskInstitution2.png" alt="billede af institution burde være her">
                <figcaption> En lang række institutioner i Danmark tager imod overskydende mad</figcaption>
            </figure>
        </div>
    </div>

    <div class="split_line"></div>
    <div style="margin-left: 4.5%; margin-right: 5%; margin-bottom: 1%; margin-top: 1.3%">
        <div class="split_section">
            <div>
                <h3 style="font-size: 36px; ; text-decoration: underline; padding-left: 1.5%;   ">
                    Stil overskydende mad til rådighed som Pick-up
                </h3>
                <p class="bread-text">
                    Her på siden kan i oprette jer som bruger og oprette events til hvornår og hvor borgere
                    kan komme og hente jeres overskydende mad. <br> <br>
                    Disse events kan blive sat til at forekomme regelmæssigt som i selv ønsker så i blot skal sætte det op en enkelt gang. <br><br>
                    Hvis i er interesseret kan i <a href="/createLogin">oprette jer her</a>
                </p>
            </div>
            <figure class="company_page_img_figure">
                <img class="company_page_photos" src="/images/pickupFood.jpg" alt="billede af institution burde være her">
                <figcaption> Hos Danmark mod madspild kan i stille jeres overskydende mad til rådighed </figcaption>
            </figure>
        </div>
    </div>
    <div class="split_line"></div>
</main>
<!-- Main content End -->
<!-- Footer -->
<footer>
    <div class="left-section">
        <ul>
            <li><p>Danmark Mod Madspild A/S</p></li>
            <li><p>Sankt Paulsvej 99, 2900</p></li>
            <li><p>DK</p></li>
            <li><p>CVR: 34343434</p></li>
        </ul>
    </div>
    <div class="right-section">
        <ul id="contact">
            <li><p>Kontakt:</p></li>
        </ul>
        <ul id="social-media-links">
            <li><p>E-mail: dkmod@madspild.dk</p></li>
            <li><a href="facebook.com">Facebook</a> <img src="/images/facebook-logo.png" id="facebook-logo"> </li>
            <li><a href="instagram.com">Instagram </a> <img src="/images/instagram-logo.png" id="instagram-logo"> </li>
        </ul>
    </div>
</footer>
<!-- Footer End -->
</body>
</html>