<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link rel="stylesheet" href="webdesign.css">
</head>
<body>
<!-- Header -->
<header>
    <div class="left-section">
        <nav>
            <ul>
                <li id="header-logo-li">
                    <a href="/">
                        <img src="/images/logo-Madspild.png" alt="Danmark Mod Madspild's Logo" id="header-logo">
                    </a>
                </li>
                <li><a href="/consumer">Borgere</a></li>
                <li><a href="/company">Virksomhed</a></li>
                <li><a href="/org">Organisationer</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </div>
    <div th:unless="${session.loggedInUser}" class="right-section">
        <a href="/loginPage" class="login-button">Login</a>
    </div>
    <div th:if="${session.loggedInUser}" class="right-section">
        <a href="/loginPage" class="login-button">Profil</a>
    </div>
</header>
<!-- Header End -->
<!-- Main content -->
<main style="display: flex; justify-content: center; align-items: center; box-sizing: border-box;">
    <div class="login_container">
        <div>
            <h2>Opret bruger</h2>
        </div>
        <div>
            <form action="/createLogin" method="post">
                <input type="text" name="username" placeholder="Brugernavn" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Opret bruger</button>
            </form>
        </div>
        <!-- Display error message or success message if it exists in the model -->
        <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>
        <div th:if="${successMessage}" class="success_message" th:text="${successMessage}"></div>
        <!-- Display link to login page if user creation was successful -->
        <div th:if="${successMessage}" id="hidden_login_button">
            <a href="/loginPage"> <button type="button">Gå til login </button> </a>
        </div>
    </div>
</main>
<!-- Main content End -->
<!-- Footer -->
<footer>
    <div class="left-section">
        <ul>
            <li><p>Danmark Mod Madspild A/S</p></li>
            <li><p>Sankt Paulsvej 99, 2900</p></li>
            <li><p>DK</p></li>
            <li><p>CVR: 34343434</p></li>
        </ul>
    </div>
    <div class="right-section">
        <ul id="contact">
            <li><p>Kontakt:</p></li>
        </ul>
        <ul id="social-media-links">
            <li><p>E-mail: dkmod@madspild.dk</p></li>
            <li><a href="facebook.com">Facebook</a> <img src="/images/facebook-logo.png" id="facebook-logo"> </li>
            <li><a href="instagram.com">Instagram </a> <img src="/images/instagram-logo.png" id="instagram-logo"> </li>
        </ul>
    </div>
</footer>
<!-- Footer End -->

</body>
</html>