<!DOCTYPE html>
<html lang="en">
<head>
  <script src="http://localhost:35729/livereload.js"></script>
  <link rel="icon" type="image/x-icon" href="/images/madspild_logo.png">
  <meta charset="UTF-8">
  <title>DMM</title>
  <link rel="stylesheet" href="webdesign.css">
</head>
<body>
<!-- Header -->
  <header>
    <div class="left-section">
      <nav>
        <ul>
          <li id="header-logo-li">
            <a href="/">
             <img src="/logo-Madspild.png" alt="Danmark Mod Madspild's Logo" id="header-logo">
           </a>
          </li>
          <li><a href="/consumer">Borgere</a></li>
          <li><a href="/company">Virksomhed</a></li>
          <li><a href="/org">Organisationer</a></li>
          <li><a href="/events">Events</a></li>
        </ul>
      </nav>
    </div>
    <div class="right-section">
      <a href="/createLogin" id="login-button">Login</a>
    </div>
  </header>
<!-- Header End -->

  <div class="index_row">
    <h1 style="font-size: 50px; margin-top: 4%">
      Danmark mod madspild
      <img src="/images/madspild_logo.png" ,="" class="top_row_logo" align="right">
    </h1>
  </div>
  <div id="foodimage"></div>
  <div class="index_row">
    <h2 style="font-weight: normal;margin-top: 30px">
      Danmark mod madspil kæmper for at reducere madspild i Danmark, <br>
      hvor der hver dag går næsten 2.000 tons fødevarer til spilde, og det vil vi lave om på. <br>
      Læs mere om hvordan her
    </h2>
  </div>

  <div class="container" ,="" style="--container-bg-color: green;margin-left: 5%"></div>
  <div class="container" ,="" style="--container-bg-color: green;"></div>
  <div class="container" ,="" style="--container-bg-color: green;"></div>
  <div class="container" ,="" style="--container-bg-color: green;margin-right: 5%"></div>
</body>
</html>