<!DOCTYPE html>
<html lang="en">
<head>
  <script src="http://localhost:35729/livereload.js"></script>
  <link rel="icon" type="image/x-icon" href="/images/madspild_logo.png">
  <meta charset="UTF-8">
  <title>DMM</title>
  <link rel="stylesheet" href="webdesign.css">
</head>
<body>
<!-- Header -->
  <header>
    <div class="left-section">
      <nav>
        <ul>
          <li id="header-logo-li">
            <a href="/">
             <img src="/images/logo-Madspild.png" alt="Danmark Mod Madspild's Logo" id="header-logo">
           </a>
          </li>
          <li><a href="/consumer">Borgere</a></li>
          <li><a href="/company">Virksomhed</a></li>
          <li><a href="/org">Organisationer</a></li>
          <li><a href="/events">Events</a></li>
        </ul>
      </nav>
    </div>
      <div th:unless="${session.loggedInUser}" class="right-section">
          <a href="/loginPage" class="login-button">Login</a>
      </div>
      <div th:if="${session.loggedInUser}" class="right-section">
          <a href="/userInfoPage" class="login-button">Profil</a>
      </div>
  </header>
<!-- Header End -->
<!-- Main content -->
<main>
  <div class="index_row">
    <h1 style="font-size: 50px; margin-top: 4%">
      Danmark mod madspild
      <img src="/images/madspild_logo.png" id="top_row_logo">
    </h1>
  </div>
    <div class="top_row_image" style="--row-image: url('images/foodsection.jpg');"></div>
  <div class="index_row">
    <h2 style="font-weight: normal;margin-top: 30px;margin-bottom: 20px">
      Danmark mod madspil kæmper for at reducere madspild i Danmark, <br>
      hvor der hver dag går næsten 2.000 tons fødevarer til spilde, og det vil vi lave om på. <br>
      Læs mere om hvordan her;
    </h2>
  </div>

<div id="container_box">
  <a href="/consumer">
    <button class="link-button" style="--container-bg-color: #9AD59F;">for borger</button>
  </a>
  <a href="/company">
    <button class="link-button" style="--container-bg-color: #4974E6;">for virksomheder</button>
  </a>
  <a href="/org">
    <button class="link-button" style="--container-bg-color: #E6B949;">for organisationer</button>
  </a>
  <a href="/events">
    <button class="link-button" style="--container-bg-color: #E69EB2;">Events</button>
  </a>
</div>
</main>
<!-- Main content End -->
<!-- Footer -->
<footer>
    <div class="left-section">
        <ul>
            <li><p>Danmark Mod Madspild A/S</p></li>
            <li><p>Sankt Paulsvej 99, 2900</p></li>
            <li><p>DK</p></li>
            <li><p>CVR: 34343434</p></li>
        </ul>
    </div>
    <div class="right-section">
        <ul id="contact">
            <li><p>Kontakt:</p></li>
        </ul>
        <ul id="social-media-links">
            <li><p>E-mail: dkmod@madspild.dk</p></li>
            <li><a href="facebook.com">Facebook</a> <img src="/images/facebook-logo.png" id="facebook-logo"> </li>
            <li><a href="instagram.com">Instagram </a> <img src="/images/instagram-logo.png" id="instagram-logo"> </li>
        </ul>
    </div>
</footer>
<!-- Footer End -->
</body>
</html>