<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta charset="UTF-8">
    <title>Organisationer</title>
    <link rel="stylesheet" href="webdesign.css">
</head>
<body>
<!-- Header -->
<header>
    <div class="left-section">
        <nav>
            <ul>
                <li id="header-logo-li">
                    <a href="/">
                        <img src="/logo-Madspild2.png" alt="Danmark Mod Madspild's Logo" id="header-logo">
                    </a>
                </li>
                <li><a href="/consumer">Borgere</a></li>
                <li><a href="/company">Virksomhed</a></li>
                <li><a href="/org">Organisationer</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </div>
    <div class="right-section">
        <a href="/createLogin" id="login-button">Login</a>
    </div>
</header>
<!-- Header End -->
<h1> Org Test </h1>

</body>
</html>